<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>

<link th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}" rel="stylesheet" />
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css}" rel="stylesheet" />

<script type="application/javascript" th:src="@{../js/jquery-3.5.1.min.js}"></script>
<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script type="application/javascript" th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js}"></script>

<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css}" rel="stylesheet" />
<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js}"></script>

<link th:href="@{../css/style.css}" rel="stylesheet" />

<!--
<script type="application/javascript" th:src="@{js/add_validation.js}"></script>
<script type="application/javascript" th:src="@{js/addProfile.js}"></script>
 -->
</head>

<body>
<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2b3e40;">
		<div class="container-fluid">
			<a href="#" class="navbar-brand fw-bold">Timesheet Portal</a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
					<i class="fas fa-user" style="padding-right: 10px;"></i>Admin</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/login}" id="logout">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

<!-- CONTENT -->
	<div class="container-fluid gray-text-color">
		<div class="row mx-2 mt-3">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h4>Dashboard</h4>
				</div>

			<!-- HEADER -->
				<!--
				<div class="row shadow gray-text-color p-1 ps-4 mx-1 my-4 bg-body rounded" >

					<div class="col-md">
						<span class="align-middle fw-bold" id="weekfromdate">Week 1</span>
					</div>

					<div class="col-md text-center">
						<span id="daterange" class="align-middle fw-bold">Date Range</span>
					</div>

					<div class="col-md dropdown text-end">
						<a class="btn btn-sm btn-outline-none gray-text-color dropdown-toggle"
							id="btnDropdown" data-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-cog me-1"></i>Settings
						</a>
						
						<ul class="dropdown-menu" aria-labelledby="btnDropdown">
							<li><a class="dropdown-item" data-toggle="modal" th:href="@{#addProfileModal}">Add Profile</a></li>
							<li><a class="dropdown-item" data-toggle="modal" th:href="@{#addTaskModal}">Add Project Task</a></li>
						</ul>
					</div>	
				</div>
				 -->
				
			<!-- ADD PROFILE MODAL -->
				<div class="modal fade bd-example-modal-lg" tabindex="-1"
					role="dialog" id="addProfileModal" aria-hidden="true">
					
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="row p-3 overflow-auto">
								
								<form th:action="@{/saveNewEmployee}" method="post" th:object="${employee}">
									<div class="form-group">
										<label>First Name</label>
										<input th:field="*{firstName}" class="form-control" type="text" required>
									</div>

									<div class="form-group">
										<label>Last Name</label>
										<input th:field="*{lastName}" class="form-control" type="text" required>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Role</label>
												<select class="form-control" th:field="*{role}" required>
													<option th:value="employee">Employee</option>
													<option th:value="manager">Manager</option>
													<option th:value="admin">Admin</option>
												</select>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group" id="field_manager">
												<label>Manager</label>
												<select class="form-control" th:field="*{managerId}">
													<option th:value="0"></option>
													<option th:each="manager: ${managers}"
														th:value="${manager.employeeId}"
														th:text="${manager.firstName} + ' ' + ${manager.lastName}">
													</option>
												</select>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label>Username</label>
										<input th:field="*{userName}" class="form-control" type="text" required>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="form-group">
													<label>Password</label>
													<input class="form-control" th:field="*{password}"
														type="password" id="pass" required>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="form-group">
													<label>Confirm Password</label>
													<input class="form-control" type="password" id="confpass"
														th:onchange="comparePass()" required>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-md d-flex justify-content-end mt-3">
										<input type="submit" class="btn btn-sm btn-success" value="Submit">
									</div>
								</form>

								<!--  <div class="col-md d-flex justify-content-end mt-4">
									<button class="btn btn-sm btn-success  me-2" id="submit"
										th:onclick="validate()" style="background-color: #246358;">Submit</button>
								</div>-->
							</div>
						</div>
					</div>
				</div>
				
			<!-- ADD PROJECT MODAL -->
				<div class="modal fade bd-example-modal-lg" tabindex="-1"
					role="dialog" id="addProjectModal" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered  modal-lg">
						<div class="modal-content">

							<div class="row p-3 overflow-auto">

								<form th:action="@{/saveProject}" method="post" th:object="${project}">
									<div class="form-group">
										<label>Project Code</label>
										<input th:field="*{projectCode}" class="form-control" type="text"
											placeholder="PRJTSK" required>
									</div>
									
									<div class="form-group">
										<label>Description</label>
											<input th:field="*{projectDesc}" class="form-control"
												type="text" maxlength=50 required>
									</div>

									<div class="form-group">
										<label>Project Owner</label>
										<select class="form-control" th:field="*{projectOwner}" required>
											<option th:each="manager: ${managers}"
												th:value="${manager.employeeId}"
												th:text="${manager.firstName} + ' ' + ${manager.lastName}">
											</option>
										</select>
									</div>

									<div class="form-group">
										<label>Category</label>
										<select th:field="*{category}" class="form-control" required>
											<option th:value="Billable" th:text="Billable"></option>
											<option th:value="Non-Billable" th:text="Non-Billable"></option>
										</select>
									</div>

									<div class="form-group">
										<label>Start Date</label>
										<input th:field="*{startDate}" type="date" class="form-control"
											data-toggle="datepicker" placeholder="MM/DD/YYYY" required>
										<div data-toggle="datepicker"></div>
									</div>

									<div class="form-group">
										<label>End Date</label>
										<input th:field="*{endDate}" type="date" class="form-control"
											data-toggle="datepicker" placeholder="MM/DD/YYYY" required>
										<div data-toggle="datepicker"></div>
									</div>

									<div class="col-md d-flex justify-content-end mt-4">
										<input type="submit" class="btn btn-sm btn-success" value="Submit">
									</div>
								</form>

								<!--  <div class="col-md d-flex justify-content-end mt-4">
									<button class="btn btn-sm btn-success  me-2" id="submit"
										th:onclick="validate()" style="background-color: #246358;">Submit</button>
								</div>-->
							</div>
						</div>
					</div>
				</div>
				
				
			<!-- CONTAINER -->
                <div class="row p-1 mx-1 mt-2 mb-5">

				<!-- NAVIGATION TABS -->
                    <ul class="nav nav-tabs text-center" style="font-size: 15px;">
                        <li class="nav-item">
                            <a href="#projects" class="nav-link gray-text-color active" data-toggle="tab">Project Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="#employees" class="nav-link gray-text-color" data-toggle="tab">Employees</a>
                        </li>
                    </ul>

					<div class="tab-content overflow-auto gray-text-color"
						style="max-height: 70vh;">

					<!-- PROJECTS -->
						<div class="tab-pane fade show active" id="projects">
							<div class="row mt-4 mb-2">
								<div class="col">
									<button class="btn btn-sm btn-success me-1" data-toggle="modal"
										th:href="@{#addProjectModal}">+ Add</button>

									<button id="btnEditProject" class="btn btn-sm btn-secondary me-1"
										 th:href="@{#editProjectModal}" onclick="editProject()" data-toggle="modal" hidden="hidden">Edit</button>
										
									<button id="btnDeleteProject" class="btn btn-sm btn-danger me-1"
										onclick="deleteProject()" hidden="hidden">- Delete</button>
								</div>

								<div class="col d-flex justify-content-end">
									<div class="input-group w-50">
										<input id="projsearch" type="search" class="form-control small-text"
											placeholder="Search..." aria-label="Search">
										<div class="input-group-append">
											<button class="btn btn-sm" th:onclick="searchProject()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<table class="table table-hover border bg-white gray-text-color" id="projectTable">
								<thead>
									<tr>
										<th style="width: 10%;">ID</th>
										<th style="width: 20%;">Project Code</th>
										<th style="width: 25%;">Description</th>
										<th style="width: 15%;">Category</th>
										<th style="width: 15%;">Start Date</th>
										<th style="width: 15%;">End Date</th>
									</tr>
								</thead>
								<tbody>
									<!-- projects go here -->
								</tbody>
							</table>
						</div>

					<!-- EDIT PROJECT MODAL -->
						<div class="modal fade bd-example-modal-lg" tabindex="-1"
							role="dialog" id="editProjectModal" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered  modal-lg">
								<div class="modal-content">

									<div class="row p-3 overflow-auto">
									
										<form th:action="@{/saveProject}" method="post" th:object="${project}">
											<div class="form-group">
												<input th:field="*{projectId}" class="form-control" type="text"
													id="prjId" hidden="hidden" required>
											</div>
											
											<div class="form-group">
												<label>Project Code</label>
												<input th:field="*{projectCode}" class="form-control" id="prjCode"
													type="text" placeholder="PRJTSK" required>
											</div>
											
											<div class="form-group">
												<label>Description</label>
												<input th:field="*{projectDesc}" class="form-control" id="prjDesc"
													type="text" maxlength=50 required>
											</div>

											<div class="form-group">
												<label>Project Owner</label>
												<select class="form-control" th:field="*{projectOwner}" id="prjOwner" required>
													<option th:each="manager: ${managers}"
														th:value="${manager.employeeId}"
														th:text="${manager.firstName} + ' ' + ${manager.lastName}">
													</option>
												</select>
											</div>

											<div class="form-group">
												<label>Category</label>
												<select th:field="*{category}" class="form-control" id="prjType" required>
													<option th:value="Billable" th:text="Billable"></option>
													<option th:value="Non-Billable" th:text="Non-Billable"></option>
												</select>
											</div>

											<div class="form-group">
												<label>Start Date</label>
												<input th:field="*{startDate}" type="date" class="form-control"
													id="prjStart" data-toggle="datepicker" placeholder="MM/DD/YYYY" required>
												<div data-toggle="datepicker"></div>
											</div>

											<div class="form-group">
												<label>End Date</label>
												<input th:field="*{endDate}" type="date" class="form-control"
													id="prjEnd" data-toggle="datepicker" placeholder="MM/DD/YYYY" required>
												<div data-toggle="datepicker"></div>
											</div>
											
											<div class="col-md d-flex justify-content-end mt-4">
												<input type="submit" class="btn btn-sm btn-success"
													value="Update">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>



					<!-- EMPLOYEES -->
                        <div class="tab-pane fade" id="employees">
							<div class="row mt-4 mb-2">
								<div class="col">
									<button class="btn btn-sm btn-success me-1" data-toggle="modal"
									th:href="@{#addProfileModal}">+ Add</button>
									
									<button id="btnEditEmployee" class="btn btn-sm btn-secondary me-1" data-toggle="modal"
										th:href="@{#editEmployeeModal}" onclick="editEmployee()" hidden="hidden">Edit</button>
										
									<button id="btnDeleteEmployee" class="btn btn-sm btn-danger me-1"
										onclick="deleteEmployee()" hidden="hidden">- Delete</button>
								</div>

								<div class="col d-flex justify-content-end">
									<div class="input-group w-50">
										<input id="empsearch" type="search" class="form-control small-text"
											placeholder="Search..." aria-label="Search">
										<div class="input-group-append">
											<button class="btn btn-sm"
												th:onclick="searchEmployee()">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							
							<table class="table table-hover border bg-white gray-text-color" id="employeeTable">
                                <thead>
                                    <tr>
                                        <th style="width: 12%;">ID</th>
                                        <th style="width: 18%;">First Name</th>
                                        <th style="width: 18%;">Last Name</th>
                                        <th style="width: 16%;">Username</th>
                                        <th style="width: 16%;">Manager</th>
                                        <th style="width: 20%;">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<!-- employees go here -->
                                </tbody>
                            </table>
                        </div>
                    
                    <!-- EDIT PROFILE MODAL -->
						<div class="modal fade bd-example-modal-lg" tabindex="-1"
							role="dialog" id="editEmployeeModal" aria-hidden="true">
							
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="row p-3 overflow-auto">
										
										<form th:action="@{/saveNewEmployee}" method="post" th:object="${employee}">
											<div class="form-group">
												<input th:field="*{employeeId}" class="form-control" type="text"
													id="empId" hidden="hidden" required>
											</div>
										
											<div class="form-group">
												<label>First Name</label>
												<input th:field="*{firstName}" class="form-control" type="text"
													id="empFname" required>
											</div>
		
											<div class="form-group">
												<label>Last Name</label>
												<input th:field="*{lastName}" class="form-control" type="text"
													id="empLname" required>
											</div>
		
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Role</label>
														<select class="form-control" th:field="*{role}" id="empRole" required>
															<option th:value="employee">Employee</option>
															<option th:value="manager">Manager</option>
															<option th:value="admin">Admin</option>
														</select>
													</div>
												</div>
		
												<div class="col-md-6">
													<div class="form-group" id="field_manager2">
														<label>Manager</label>
														<select class="form-control" th:field="*{managerId}" id="empManager">
															<option th:value="0"></option>
															<option th:each="manager: ${managers}"
																th:value="${manager.employeeId}"
																th:text="${manager.firstName} + ' ' + ${manager.lastName}">
															</option>
														</select>
													</div>
												</div>
											</div>
		
											<div class="form-group">
												<label>Username</label>
													<input th:field="*{userName}" class="form-control" type="text"
													id="empUname" required>
											</div>
		
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<div class="form-group">
															<label>Password</label>
															<input class="form-control" th:field="*{password}"
																id="empPass" type="password"  required>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<div class="form-group">
															<label>Confirm Password</label>
															<input class="form-control" type="password"  id="empConfPass"
															th:onchange="comparePass()" required>
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-md d-flex justify-content-end mt-3">
												<input type="submit" class="btn btn-sm btn-success" value="Update">
											</div>
										</form>
		
										<!--  <div class="col-md d-flex justify-content-end mt-4">
											<button class="btn btn-sm btn-success  me-2" id="submit"
												th:onclick="validate()" style="background-color: #246358;">Submit</button>
										</div>-->
									</div>
								</div>
							</div>
						</div>
                    
                                        
                    </div>
                </div>
			</main>
		</div>
	</div>
	
	<script type="application/javascript" th:src="@{../js/admin_homepage.js}"></script>
</body>
</html>