<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>New Project Task | TimeSheet</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<style>
body {
	background-color: #eeeeee;
}

form>:nth-child(2)>.form-control, form>:nth-child(3)>.form-control, form>:nth-child(4)>.form-control
	{
	cursor: pointer;
}

.container-fluid {
	color: #4a4a4a;
}

.form-group {
	margin-bottom: 10px;
}
</style>
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark"
		style="background-color: #2b3e40;">
		<div class="container-fluid">
			<a href="admin.jsp" class="navbar-brand fw-bold">TimeSheet Portal</a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a href="#"
					class="nav-link dropdown-toggle" data-toggle="dropdown"><i
						class="fas fa-user" style="padding-right: 10px;"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Logout</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<!-- CONTENT -->
	<div class="container-fluid">
		<div class="row mx-2 mt-3">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h4>New Project Task</h4>
				</div>

				<div class="d-flex justify-content-center">

					<div class="row w-50 shadow p-2 bg-body rounded overflow-auto"
						style="max-height: 70vh;">

						<form th:action="@{/saveProject}" method="post" th:object="${project}">
							<div class="form-group">
								<label for="tskTitle">Project Code</label> <input
									th:field="*{projectCode}"
									class="form-control" type="text" name="tskTitle"
									placeholder="Title" required>
							</div>

							<div class="form-group">
								<label for="tskType">Type</label> <select th:field="*{category}" class="form-control"
									name="tskType" required>
									<option th:value="Billable" th:text="Billable"></option>
									<option th:value="Non-Billable" th:text="Non-Billable"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="tskStartDate">Start Date</label> <input
									th:field="*{startDate}"
									class="form-control" type="text" id="tskStartDate"
									name="tskStartDate" data-toggle="datepicker"
									placeholder="YYYY-MM-DD" required>
								<div data-toggle="datepicker"></div>
							</div>

							<div class="form-group">
								<label for="tskEndDate">End Date</label> <input
									th:field="*{endDate}"
									class="form-control" type="text" id="tskEndDate"
									name="tskEndDate" data-toggle="datepicker"
									placeholder="YYYY-MM-DD" required>
								<div data-toggle="datepicker"></div>
							</div>

							<div class="form-group">
								<label for="tskDesc">Description</label>
								<textarea th:field="*{description}" class="form-control" name="tskDesc" rows="3"
									maxlength="300"></textarea>
							</div>

							<div class="col-md d-flex justify-content-end">
								<button type="submit" class="btn btn-sm btn-success mt-4 me-2">Add</button>
								<a href="#"
									class="btn btn-sm btn-secondary mt-4">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</main>
		</div>
	</div>

<!--
	<script>
		$(document).ready(function() {

			initDatePicker();
			cancelAdd();
		});

		$(function initDatePicker() {
			var $start = $('#tskStartDate');
			var $end = $('#tskEndDate');

			$start.datepicker({
				autoHide : true,
				format : 'yyyy-mm-dd',
			});

			$end.datepicker({
				autoHide : true,
				format : 'yyyy-mm-dd',
				startDate : $start.datepicker('getDate'),
			});

			$start.on('change', function() {
				$end.datepicker('setStartDate', $start.datepicker('getDate'));
			});
		});

		$(function cancelAdd() {
			$('a.btn')
					.confirm(
							{
								title : '',
								content : 'Are you sure you want to cancel? Your inputs will not be saved.',

								buttons : {
									yes : function() {
										location.href = this.$target
												.attr('href');
									},
									no : {}
								}
							});
		});
	</script>
-->
</body>
</html>