<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Direct Reports</title>
</head>
<body>

<div th:each= "employee:${employees}">
	<br>
	
	<div>EmployeeId: </div>
	<div th:text="${employee.employeeid}"></div>
	<div>Last Name: </div>
	<div th:text="${employee.lastName}"></div>
	<div>First Name: </div>
	<div th:text="${employee.firstName}"></div>
	
	<div>Action</div>
	<button>View Details</button>
	<button>Approve</button>
	<button>Reject</button>
</div>


</body>
</html>